<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Deepak Singh">
        <title>Feedback-Generator</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <script src="../js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="img/feedback3.jpg" alt="" width="300" height="150">
                <h2>Feedback Generator</h2>
                <p class="lead">Tool can be used for generating feedback for all the discussion being done. You have to answer to just few questions and get nice formatted feedback generated. Isn't that Awesome. Development of this tool is in progress.</p>
            </div>
                <div class="row">
                    <div class="col-md-auto">
                        <h4 class="mb-6">Please Answer Followings based on the Disussion</h4>
                        <form class="needs-validation" novalidate="">
                            <div class="mb-3">
                                <label for="username">Job Tyoe</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input type="text" class="form-control" id="username" placeholder="Username" required="">
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Job Type name is required.
                                    </div>
                                </div>
                            </div>

                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Generate Feedback Report</button>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">(c) 2019-2020 Deepak Singh</p>
            </footer>
        </div>
    </body>
</html>
